*{
    padding: 0;
    margin: 0;
    
}

.class-container{
    display: flex;
    flex-direction: column;
    align-items: center;
background-color:rgb(29,31,66);
height: 100%;
    display: flex;
}



.Conact-module{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.contact-header-title{
    color: red;
    font-size: 30px;
    border: 2px solid red;
   
}

.contact-right{
flex-basis: 45%;
background-color: rgb(224, 229, 233);
border-radius: 20px;
align-items: center;

box-shadow: 1px 1px 10px ;
}



.contact-left{
    flex-basis: 45%;
   display: flex;
   width: 80%;
   flex-direction: column;
   margin: 10px;
   align-items: center;
   background-color:rgb(118, 122, 192);
border-radius: 20px;
align-items: center;


    
}

.contact-left input,textarea{
    margin: 10px;
        width:50vh;
    padding: 10px;
    font-size:1.3rem;
    box-shadow: 1px 2px 10px 1px rgb(141, 11, 11);
    border-radius: 10px;
    background-color:rgb(29,31,66);
}
.contact-left button{
width: 300px;
}

.contact-left button:hover{
    background-color: aqua;
    color: black;
    font-weight: bold;
}


.contact-right{
padding-left: 10px;
    flex-basis: 34%;
    background-color:rgb(118, 122, 192);
    
}



.social-icons{
    margin-top: 30px;
}

.social-icons a{
   text-decoration: none;
   font-size: 25px;
   margin-right: 13px;
   color: black;
   display: inline-block;
   transition: transform .5s;
}

.social-icons a:hover{
    color: #ff004f;
    transform: translateY(-5px);
}
.btn2{
    display: inline-block;
    background-color: #ff004f;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    margin-top: 25px;
    border-radius: 10px;
}



.contact-right form{
    width: 100%;
}




 .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}


.contect-right{
    display: flex;
    flex-direction: column;
    justify-content: left;
align-items: center;
color: white;


}

.contect-right i{
    font: 20px;
}

.contect-right i:hover{
    background-color: rgb(177, 48, 48);
    border-radius: 50%;
}


@media only screen and (max-width: 600px){
    .contact-left input,textarea{
        width: 100%;
    }

    .class-container{
        align-items: center;
      
    }

    .Conact-module{
        justify-content: center;
    }

    .contact-right{
        padding: 30px;
    }

    .find-me{
        margin-top: 20px;
    }

    .contact-right h5{
        font-size: 16px;
    }
    
    .contact-right p{
        font-size: 20px;
    }
}


